@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

body {
  font-family: 'Karla', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: none;
  align-items: center;
}

nav ul li:not(:last-child) {
  margin-right: 10px;
  cursor: pointer;
}

.hero .hero-img img {
  width: 100%;
}

.hero {
  background-color: var(--dark-violet);
}
.hero-text-container {
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.hero-text-container h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.hero-text-container p {
  line-height: 2;
  margin-bottom: 30px;
}

.button {
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 30px;
  cursor: pointer;
}

.button-light {
  color: var(--dark-grayish-violet);
  border: 2px solid var(--grayish-blue);
}

.button-dark {
  color: white;
  border: 2px solid white;
}

.hero-text-container .top {
  position: absolute;
  left: 0;
  top: 0;
}

.hero-text-container .bottom {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}

.about {
  text-align: center;
  margin-top: 100px;
}

.about h1 {
  font-size: 44px;
  position: relative;
  margin-bottom: 50px;
}

.card-container {
  padding: 0 20px;
}

.card {
  margin-bottom: 50px;
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  width: 350px;
  max-width: 90%;
  margin: 0 auto;
}
.card img {
  margin: 0 auto 30px;
}

.about h1::before {
  content: '';
  width: 150px;
  height: 1px;
  background-color: var(--dark-violet);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}

.find-out {
  text-align: center;
  background-color: var(--dark-violet);
  margin: 0 20px;
  padding: 50px 30px;
  color: white;
  position: relative;
  margin-bottom: 100px;
}

.find-out img {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100%;
}

.find-out h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--very-light-gray);
  padding: 100px 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
footer .pattern {
  position: absolute;
  top: 0;
  left: 0;
}
footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--dark-grayish-violet);
  margin-bottom: 30px;
}

footer .icons li:not(:last-child) {
  margin-right: 10px;
}

footer .social .logo {
  margin-bottom: 30px;
}

footer .social .icons {
  display: flex;
}

footer .col {
  margin-bottom: 30px;
}
footer .col h4 {
  margin-bottom: 20px;
  color: lightslategrey;
}
footer .col li {
  margin-bottom: 10px;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  nav ul {
    display: flex;
  }
  nav .nav-toggle {
    display: none;
  }
  .hero {
    display: flex;
  }

  .hero-text-container {
    max-width: 50%;
  }
}
